/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.tablep {
	margin-top: 10%;
	width: 80%;
	left: 10% !important;
	top: 10% !important;
	/* border: 1px solid #336699; */
}
/*  		.tablep td:nth-child(odd) {
			font-size: 14px;
			padding: 5px 10px;
			background-color: #336699;
			border: 1px solid #336699;
		}  */
		
		.tablep tr:nth-child(even){
			background-color: #336699;
			color: #FFFFFF;
			/* border: 1px solid #FF9900; */
		}
		.tablep tr:nth-child(odd){
			background-color: #FF9900;
			color: #FFFFFF;
			/* border: 1px solid #FF9900; */
		}
