*.class
*~
*/.classpath
*/.project
*.symbolMap

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/
org.dieschnittstelle.jee.esa.gae/war/WEB-INF/classes
org.dieschnittstelle.jee.esa.gae/war/WEB-INF/deploy
org.dieschnittstelle.jee.esa.gae/war/WEB-INF/lib
org.dieschnittstelle.jee.esa.gae/.gwt
org.dieschnittstelle.jee.esa.gae/.settings
org.dieschnittstelle.jee.esa.gae/war/DieSchnittstelle
org.dieschnittstelle.jee.esa.android/bin
*/gen
org.dieschnittstelle.jee.esa.android/project.properties
